<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="8b829e98-70a0-471c-9103-85137d2d20c7" wadlVersion="http://wadl.dev.java.net/2009/02" name="GetRandomOperationStatus" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <con:settings>
    <con:setting id="8b829e98-70a0-471c-9103-85137d2d20c7fileName">GetRandomOperationStatus</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://{{Appliance}}</con:endpoint>
  </con:endpoints>
</con:interface>
