<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="4cacc917-ca8e-45b3-b440-6a0f18715628" wadlVersion="http://wadl.dev.java.net/2009/02" name="Reclaim_Unclaim" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="4cacc917-ca8e-45b3-b440-6a0f18715628fileName">Reclaim_Unclaim</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints/>
</con:interface>
