<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="1e326e17-891c-4dd8-9b68-f4ae804f6643" wadlVersion="http://wadl.dev.java.net/2009/02" name="Get device shadow for id" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <con:settings>
    <con:setting id="1e326e17-891c-4dd8-9b68-f4ae804f6643fileName">Get-device-shadow-for-id</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://{{API-Connect}}</con:endpoint>
  </con:endpoints>
</con:interface>
